<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Assign Coordinates</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class ="container-coordinnates">
    <h2>Assign Coordinates to {{ rover.name }}</h2>
    <div class ="Coordinates">
      <form class="Coordinates" method="POST">
      <label>Aisle:</label>
      <input type="number" name="lat" required>

      <label>Table No:</label>
      <input type="number" name="lon" required>

      <button type="submit">Send to Rover</button>
    </form>
  </div>
    
    <div class="back"><a href="/">← Back to Dashboard</a></div>
  </div>
</body>
</html>
