<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Rover Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <h1>Rover Dashboard</h1>
  <div class="container">
    {% for rover in rovers %}
      <div class="rover-block" onclick="window.location.href='/rover/{{ rover.id }}'">
        <div class="rover-name">{{ rover.name }}</div>
        {% for position in position %}
          <div class="lat">Aisle: {{ position.lat }}</div>
          <div class="lon">Table No: {{ position.lon }}</div>
          <div class="phase">Phase: {{ position.phase }}</div>
          <div class="status">Status: {{ position.status }}</div>
        {% endfor %}
        <form action="/rover/{{ rover.id }}/delete" method="post" class ="Coordinates">
    <button type="submit" style="color:red;">Delete Rover</button>
</form>
      </div>
    {% endfor %}

    <div class="add-button" onclick="showForm()">+</div>
  </div>

  <form class= "add" id="addForm" method="POST">
    <input type="text" name="name" placeholder="Rover Name" required>
    <button type="submit">Add Rover</button>
  </form>

  <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</body>
</html>
